body {
  margin: 0;
}

.container {
  padding: 0 2.5%;
}

button {
  height: 100px;
  width: 100px;
  background-color: lightskyblue;
  border: 1px solid black;
  text-align: center;
  /* adjust font size later */
}